@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  nav li {
    @apply text-white cursor-pointer font-medium text-base leading-6;
  }
  .products .heading li {
    @apply border border-solid border-[#003F62] rounded-[20px] py-[10px] px-[30.5px] font-medium text-[16.38px] leading-[25px] text-[#1B5A7D];
  }
  footer ul p {
    @apply font-semibold text-[19.38px] leading-[29px] text-[#1B5A7D] mb-[2px];
  }
  footer ul li {
    @apply font-normal text-[19.38px] leading-[29px] text-[#1B5A7D] mt-[13px] before:inline-block before:w-[10px] before:h-[10px] before:mr-[12px] before:rounded-full before:bg-[#D9D9D9];
  }
}

.products-grid {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(308.83px, 308.83px));
}

th,
td {
  text-align: left;
}

/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.anime {
  opacity: 0;
  transform: translateY(-30px);
  animation: fade 2s linear forwards;
}
@keyframes fade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
